Importing the Header Files

In [28]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [29]:
Data = pd.read_csv("Churn_Modelling.csv")

In [30]:
Data.head(n=5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [31]:
Data.shape

(10000, 14)

In [32]:
Data.describe(include = "all")

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000,10000.000000,10000,10000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
unique,NaN,NaN,2932,NaN,3,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,Smith,NaN,France,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,32,NaN,5014,5457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,5000.50000,1.569094e+07,NaN,650.528800,NaN,NaN,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,NaN,96.653299,NaN,NaN,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,NaN,350.000000,NaN,NaN,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,NaN,584.000000,NaN,NaN,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,NaN,652.000000,NaN,NaN,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,NaN,718.000000,NaN,NaN,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,NaN,850.000000,NaN,NaN,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [33]:
Data = Data.drop(labels=["RowNumber", "CustomerId", "Surname"],axis = 1)
Data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [34]:
from sklearn.preprocessing import LabelEncoder as LL

In [35]:
le1 = LL()
le2 = LL()

In [36]:
Data["Gender"] = le1.fit_transform(Data["Gender"])

In [38]:
Data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [39]:
Data["Geography"] = le2.fit_transform(Data["Geography"])
Data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,502,0,0,42,8,159660.80,3,1,0,113931.57,1
3,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,850,2,0,43,2,125510.82,1,1,1,79084.10,0

In [40]:
from sklearn.preprocessing import OneHotEncoder as OHE

In [52]:
x = Data.iloc[:, 0:10]
y = Data.iloc[:, -1]

In [57]:
x.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,0,0,42,2,0.00,1,1,1,101348.88
1,608,2,0,41,1,83807.86,1,0,1,112542.58
2,502,0,0,42,8,159660.80,3,1,0,113931.57
3,699,0,0,39,1,0.00,2,0,0,93826.63
4,850,2,0,43,2,125510.82,1,1,1,79084.10

In [58]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [61]:
ohe = OHE(sparse=False, categorical_features= [1])
x = ohe.fit_transform(x)

In [64]:
x

array([[1.0000000e+00, 0.0000000e+00, 0.0000000e+00, ..., 1.0000000e+00,
        1.0000000e+00, 1.0134888e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 1.1254258e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, ..., 1.0000000e+00,
        0.0000000e+00, 1.1393157e+05],
       ...,
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 4.2085580e+04],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, ..., 1.0000000e+00,
        0.0000000e+00, 9.2888520e+04],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, ..., 1.0000000e+00,
        0.0000000e+00, 3.8190780e+04]])

In [65]:
x_dummy = pd.DataFrame(x)
x_dummy.head()

    0    1    2      3    4     5    6          7    8    9    10         11
0  1.0  0.0  0.0  619.0  0.0  42.0  2.0       0.00  1.0  1.0  1.0  101348.88
1  0.0  0.0  1.0  608.0  0.0  41.0  1.0   83807.86  1.0  0.0  1.0  112542.58
2  1.0  0.0  0.0  502.0  0.0  42.0  8.0  159660.80  3.0  1.0  0.0  113931.57
3  1.0  0.0  0.0  699.0  0.0  39.0  1.0       0.00  2.0  0.0  0.0   93826.63
4  0.0  0.0  1.0  850.0  0.0  43.0  2.0  125510.82  1.0  1.0  1.0   79084.10

In [68]:
x_dummy = x_dummy.drop(labels=[1],axis=1)
x_dummy.head()

    0    2      3    4     5    6          7    8    9    10         11
0  1.0  0.0  619.0  0.0  42.0  2.0       0.00  1.0  1.0  1.0  101348.88
1  0.0  1.0  608.0  0.0  41.0  1.0   83807.86  1.0  0.0  1.0  112542.58
2  1.0  0.0  502.0  0.0  42.0  8.0  159660.80  3.0  1.0  0.0  113931.57
3  1.0  0.0  699.0  0.0  39.0  1.0       0.00  2.0  0.0  0.0   93826.63
4  0.0  1.0  850.0  0.0  43.0  2.0  125510.82  1.0  1.0  1.0   79084.10

In [71]:
from sklearn.preprocessing import StandardScaler as SS
Scaler = SS()
x_scaled = Scaler.fit_transform(x_dummy)
x_scaled

array([[ 0.99720391, -0.57380915, -0.32622142, ...,  0.64609167,
         0.97024255,  0.02188649],
       [-1.00280393,  1.74273971, -0.44003595, ..., -1.54776799,
         0.97024255,  0.21653375],
       [ 0.99720391, -0.57380915, -1.53679418, ...,  0.64609167,
        -1.03067011,  0.2406869 ],
       ...,
       [ 0.99720391, -0.57380915,  0.60498839, ..., -1.54776799,
         0.97024255, -1.00864308],
       [-1.00280393, -0.57380915,  1.25683526, ...,  0.64609167,
        -1.03067011, -0.12523071],
       [ 0.99720391, -0.57380915,  1.46377078, ...,  0.64609167,
        -1.03067011, -1.07636976]])

In [72]:
y

0       1
1       0
2       1
3       0
4       0
5       1
6       0
7       1
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      1
17      0
18      0
19      0
20      0
21      0
22      1
23      0
24      0
25      0
26      0
27      0
28      0
29      0
       ..
9970    0
9971    0
9972    0
9973    0
9974    0
9975    1
9976    0
9977    0
9978    0
9979    0
9980    0
9981    1
9982    1
9983    0
9984    0
9985    0
9986    0
9987    0
9988    0
9989    0
9990    0
9991    1
9992    0
9993    0
9994    0
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [73]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_scaled, y, random_state=42, test_size = 0.2)

In [74]:
from sklearn.linear_model import LogisticRegression as LR
regressor = LR()
regressor.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [85]:
regressor.score(x_train,y_train)

0.811375

In [86]:
y_pred = regressor.predict(x_test)

In [87]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_pred)
cm

array([[1543,   64],
       [ 314,   79]], dtype=int64)

In [88]:
print((1543 + 79)/2000)

0.811

In [89]:
from sklearn.neighbors import KNeighborsClassifier
regressorknn = KNeighborsClassifier()
regressorknn.fit(x_test,y_test)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [90]:
regressorknn.score(x_train,y_train)

0.82075

In [91]:
y_knn = regressorknn.predict(x_test)

In [92]:
cm_knn = confusion_matrix(y_test,y_knn)
cm_knn

array([[1565,   42],
       [ 223,  170]], dtype=int64)

In [93]:
print((1565 + 170)/2000)

0.8675

In [94]:
from sklearn.svm import SVC
regressorsvc = SVC()
regressorsvc.fit(x_train,y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [95]:
regressorsvc.score(x_train,y_train)

0.864

In [96]:
y_svc = regressorsvc.predict(x_test)
cm_svc = confusion_matrix(y_test,y_svc)
cm_svc

array([[1569,   38],
       [ 246,  147]], dtype=int64)

In [97]:
print((1569 + 147)/2000)

0.858

In [100]:
from sklearn.naive_bayes import GaussianNB
regressornvb = GaussianNB()
regressornvb.fit(x_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [101]:
regressornvb.score(x_train,y_train)

0.831625

In [102]:
y_nvb = regressornvb.predict(x_test)

In [103]:
cm_nvb = confusion_matrix(y_test,y_nvb)
cm_nvb

array([[1561,   46],
       [ 288,  105]], dtype=int64)

In [104]:
print((1561 + 105)/2000)

0.833

In [105]:
from sklearn.tree import DecisionTreeClassifier
regressorTree = DecisionTreeClassifier()
regressorTree.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [107]:
regressorTree.score(x_train,y_train)

1.0

In [108]:
y_dec = regressorTree.predict(x_test)
cm_tree = confusion_matrix(y_test,y_dec)
cm_tree

array([[1358,  249],
       [ 189,  204]], dtype=int64)

In [109]:
print((1358 + 204)/2000)

0.781

In [110]:
from sklearn.ensemble import RandomForestClassifier
regressorforest = RandomForestClassifier()
regressorforest.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [111]:
regressorforest.score(x_train,y_train)

0.983125

In [112]:
y_forest = regressorforest.predict(x_test)
cm_forest = confusion_matrix(y_test,y_forest)
cm_forest

array([[1540,   67],
       [ 234,  159]], dtype=int64)

In [113]:
print((1540 + 159)/2000)

0.8495

Making ANN

In [115]:
import keras

Using TensorFlow backend.

In [116]:
from keras.models import Sequential
from keras.layers import Dense

In [117]:
classifier = Sequential()

In [118]:
classifier.add(Dense(units=40, activation="relu", input_dim = 11))
classifier.add(Dense(units=40, activation="relu"))
classifier.add(Dense(units=40, activation="relu"))
classifier.add(Dense(units=1, activation="sigmoid"))

In [119]:
classifier.compile(optimizer="adam", loss="binary_crossentropy", metrics= ["accuracy"])

WARNING:tensorflow:From C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [120]:
classifier.fit(x_train, y_train, batch_size = 32, epochs = 100)

WARNING:tensorflow:From C:\ProgramData\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

Epoch 1/100
8000/8000 [==============================] - 3s 383us/step - loss: 0.4647 - accuracy: 0.7914
Epoch 2/100
8000/8000 [==============================] - 1s 80us/step - loss: 0.3734 - accuracy: 0.8447
Epoch 3/100
8000/8000 [==============================] - 1s 97us/step - loss: 0.3492 - accuracy: 0.8568
Epoch 4/100
8000/8000 [==============================] - 1s 122us/step - loss: 0.3422 - accuracy: 0.8584
Epoch 5/100
8000/8000 [==============================] - 1s 91us/step - loss: 0.3377 - accuracy: 0.8597
Epoch 6/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.3339 - accuracy: 0.8654
Epoch 7/100
8000/8000 [==============================] - 1s 124us/step - loss: 0.3302 - accuracy: 0.8658
Epoch 8/100
8000/8000 [==============================] - 1s 102us/step - loss: 0.3269 - accuracy: 0.8643
Epoch 9/100
8000/8000 [==============================] - 1s 102us/step - loss: 0.3254 - accuracy: 0.8666
Epoch 10/100
8000/8000 [==============================] - 1s 101us/step - loss: 0.3225 - accuracy: 0.8673
Epoch 11/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.3197 - accuracy: 0.8687
Epoch 12/100
8000/8000 [==============================] - 1s 103us/step - loss: 0.3176 - accuracy: 0.8685
Epoch 13/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.3167 - accuracy: 0.8691
Epoch 14/100
8000/8000 [==============================] - 1s 99us/step - loss: 0.3142 - accuracy: 0.8699
Epoch 15/100
8000/8000 [==============================] - 1s 98us/step - loss: 0.3133 - accuracy: 0.8720
Epoch 16/100
8000/8000 [==============================] - 1s 90us/step - loss: 0.3095 - accuracy: 0.8706
Epoch 17/100
8000/8000 [==============================] - 1s 97us/step - loss: 0.3081 - accuracy: 0.8709
Epoch 18/100
8000/8000 [==============================] - 1s 97us/step - loss: 0.3065 - accuracy: 0.8724
Epoch 19/100
8000/8000 [==============================] - 1s 101us/step - loss: 0.3037 - accuracy: 0.8749
Epoch 20/100
8000/8000 [==============================] - 1s 102us/step - loss: 0.3037 - accuracy: 0.8741
Epoch 21/100
7936/8000 [============================>.] - ETA: 0s - loss: 0.3007 - accuracy: 0.878000/8000 [==============================] - 1s 100us/step - loss: 0.3009 - accuracy: 0.8770
Epoch 22/100
8000/8000 [==============================] - 1s 97us/step - loss: 0.2989 - accuracy: 0.8759
Epoch 23/100
8000/8000 [==============================] - 1s 98us/step - loss: 0.2999 - accuracy: 0.8751
Epoch 24/100
8000/8000 [==============================] - 1s 85us/step - loss: 0.2968 - accuracy: 0.8774
Epoch 25/100
8000/8000 [==============================] - 1s 86us/step - loss: 0.2941 - accuracy: 0.8775
Epoch 26/100
8000/8000 [==============================] - 1s 99us/step - loss: 0.2938 - accuracy: 0.8761
Epoch 27/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.2914 - accuracy: 0.8798
Epoch 28/100
8000/8000 [==============================] - 1s 98us/step - loss: 0.2907 - accuracy: 0.8759
Epoch 29/100
8000/8000 [==============================] - 1s 90us/step - loss: 0.2868 - accuracy: 0.8799
Epoch 30/100
8000/8000 [==============================] - 1s 88us/step - loss: 0.2857 - accuracy: 0.8798
Epoch 31/100
8000/8000 [==============================] - 1s 85us/step - loss: 0.2846 - accuracy: 0.8795
Epoch 32/100
8000/8000 [==============================] - 1s 123us/step - loss: 0.2836 - accuracy: 0.8815
Epoch 33/100
8000/8000 [==============================] - 1s 142us/step - loss: 0.2806 - accuracy: 0.8823
Epoch 34/100
8000/8000 [==============================] - 1s 146us/step - loss: 0.2813 - accuracy: 0.8830
Epoch 35/100
8000/8000 [==============================] - 1s 101us/step - loss: 0.2779 - accuracy: 0.8825
Epoch 36/100
8000/8000 [==============================] - 1s 97us/step - loss: 0.2752 - accuracy: 0.8840
Epoch 37/100
8000/8000 [==============================] - 1s 96us/step - loss: 0.2737 - accuracy: 0.8856
Epoch 38/100
8000/8000 [==============================] - 1s 104us/step - loss: 0.2711 - accuracy: 0.8851
Epoch 39/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.2694 - accuracy: 0.8867
Epoch 40/100
8000/8000 [==============================] - 1s 96us/step - loss: 0.2705 - accuracy: 0.8855
Epoch 41/100
8000/8000 [==============================] - 1s 105us/step - loss: 0.2663 - accuracy: 0.8864
Epoch 42/100
8000/8000 [==============================] - 1s 102us/step - loss: 0.2658 - accuracy: 0.8876
Epoch 43/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.2628 - accuracy: 0.8891
Epoch 44/100
8000/8000 [==============================] - 1s 90us/step - loss: 0.2639 - accuracy: 0.8892
Epoch 45/100
8000/8000 [==============================] - 1s 90us/step - loss: 0.2604 - accuracy: 0.8895
Epoch 46/100
8000/8000 [==============================] - 1s 83us/step - loss: 0.2581 - accuracy: 0.8894
Epoch 47/100
8000/8000 [==============================] - 1s 94us/step - loss: 0.2564 - accuracy: 0.8931
Epoch 48/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.2539 - accuracy: 0.8934
Epoch 49/100
8000/8000 [==============================] - 1s 93us/step - loss: 0.2537 - accuracy: 0.8930
Epoch 50/100
8000/8000 [==============================] - 1s 88us/step - loss: 0.2509 - accuracy: 0.8919
Epoch 51/100
8000/8000 [==============================] - 1s 89us/step - loss: 0.2537 - accuracy: 0.8921
Epoch 52/100
8000/8000 [==============================] - 1s 89us/step - loss: 0.2470 - accuracy: 0.8935
Epoch 53/100
8000/8000 [==============================] - 1s 90us/step - loss: 0.2471 - accuracy: 0.8951
Epoch 54/100
8000/8000 [==============================] - 1s 88us/step - loss: 0.2465 - accuracy: 0.8966
Epoch 55/100
8000/8000 [==============================] - 1s 86us/step - loss: 0.2454 - accuracy: 0.8981
Epoch 56/100
8000/8000 [==============================] - 1s 94us/step - loss: 0.2449 - accuracy: 0.8972
Epoch 57/100
7904/8000 [============================>.] - ETA: 0s - loss: 0.2437 - accuracy: 0.898000/8000 [==============================] - 1s 93us/step - loss: 0.2423 - accuracy: 0.8985
Epoch 58/100
8000/8000 [==============================] - 1s 92us/step - loss: 0.2391 - accuracy: 0.8994
Epoch 59/100
8000/8000 [==============================] - 1s 91us/step - loss: 0.2386 - accuracy: 0.8990
Epoch 60/100
8000/8000 [==============================] - 1s 87us/step - loss: 0.2388 - accuracy: 0.8972
Epoch 61/100
8000/8000 [==============================] - 1s 103us/step - loss: 0.2373 - accuracy: 0.8988
Epoch 62/100
8000/8000 [==============================] - 1s 94us/step - loss: 0.2344 - accuracy: 0.9004
Epoch 63/100
8000/8000 [==============================] - 1s 96us/step - loss: 0.2335 - accuracy: 0.9016
Epoch 64/100
8000/8000 [==============================] - 1s 148us/step - loss: 0.2327 - accuracy: 0.8991
Epoch 65/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.2302 - accuracy: 0.9005
Epoch 66/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.2286 - accuracy: 0.9032
Epoch 67/100
8000/8000 [==============================] - 1s 92us/step - loss: 0.2292 - accuracy: 0.9003
Epoch 68/100
8000/8000 [==============================] - 1s 91us/step - loss: 0.2283 - accuracy: 0.9036
Epoch 69/100
8000/8000 [==============================] - 1s 87us/step - loss: 0.2254 - accuracy: 0.9040
Epoch 70/100
8000/8000 [==============================] - 1s 99us/step - loss: 0.2258 - accuracy: 0.9046
Epoch 71/100
8000/8000 [==============================] - 1s 90us/step - loss: 0.2213 - accuracy: 0.9074
Epoch 72/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.2257 - accuracy: 0.9061
Epoch 73/100
8000/8000 [==============================] - 1s 89us/step - loss: 0.2220 - accuracy: 0.9086
Epoch 74/100
8000/8000 [==============================] - 1s 88us/step - loss: 0.2219 - accuracy: 0.9065
Epoch 75/100
7712/8000 [===========================>..] - ETA: 0s - loss: 0.2182 - accuracy: 0.908000/8000 [==============================] - 1s 94us/step - loss: 0.2180 - accuracy: 0.9053
Epoch 76/100
8000/8000 [==============================] - 1s 89us/step - loss: 0.2178 - accuracy: 0.9076
Epoch 77/100
8000/8000 [==============================] - 1s 92us/step - loss: 0.2181 - accuracy: 0.9072
Epoch 78/100
8000/8000 [==============================] - 1s 86us/step - loss: 0.2164 - accuracy: 0.9076
Epoch 79/100
8000/8000 [==============================] - 1s 88us/step - loss: 0.2166 - accuracy: 0.9082
Epoch 80/100
8000/8000 [==============================] - 1s 97us/step - loss: 0.2130 - accuracy: 0.9120
Epoch 81/100
8000/8000 [==============================] - 1s 96us/step - loss: 0.2118 - accuracy: 0.9115
Epoch 82/100
8000/8000 [==============================] - 1s 164us/step - loss: 0.2098 - accuracy: 0.9109
Epoch 83/100
8000/8000 [==============================] - 1s 132us/step - loss: 0.2114 - accuracy: 0.9090
Epoch 84/100
8000/8000 [==============================] - 1s 82us/step - loss: 0.2086 - accuracy: 0.9122
Epoch 85/100
8000/8000 [==============================] - 1s 95us/step - loss: 0.2066 - accuracy: 0.9133
Epoch 86/100
8000/8000 [==============================] - 1s 88us/step - loss: 0.2070 - accuracy: 0.9126
Epoch 87/100
8000/8000 [==============================] - 1s 93us/step - loss: 0.2049 - accuracy: 0.9155
Epoch 88/100
8000/8000 [==============================] - 1s 96us/step - loss: 0.2049 - accuracy: 0.9139
Epoch 89/100
8000/8000 [==============================] - 1s 89us/step - loss: 0.2057 - accuracy: 0.9112
Epoch 90/100
8000/8000 [==============================] - 1s 80us/step - loss: 0.2045 - accuracy: 0.9122
Epoch 91/100
8000/8000 [==============================] - 1s 88us/step - loss: 0.2034 - accuracy: 0.9147
Epoch 92/100
8000/8000 [==============================] - 1s 84us/step - loss: 0.2022 - accuracy: 0.9171
Epoch 93/100
8000/8000 [==============================] - 1s 77us/step - loss: 0.2003 - accuracy: 0.9129
Epoch 94/100
8000/8000 [==============================] - 1s 84us/step - loss: 0.1974 - accuracy: 0.9172
Epoch 95/100
8000/8000 [==============================] - 1s 83us/step - loss: 0.1979 - accuracy: 0.9187
Epoch 96/100
8000/8000 [==============================] - 1s 83us/step - loss: 0.1993 - accuracy: 0.9134
Epoch 97/100
8000/8000 [==============================] - 1s 81us/step - loss: 0.1954 - accuracy: 0.9154
Epoch 98/100
8000/8000 [==============================] - 1s 83us/step - loss: 0.1963 - accuracy: 0.9158
Epoch 99/100
8000/8000 [==============================] - 1s 84us/step - loss: 0.1936 - accuracy: 0.9200
Epoch 100/100
8000/8000 [==============================] - 1s 86us/step - loss: 0.1912 - accuracy: 0.9194

In [122]:
y_ann = classifier.predict(x_test)
y_ann = (y_ann > 0.5)
cm_ann = confusion_matrix(y_test,y_ann)
cm_ann

array([[1486,  121],
       [ 215,  178]], dtype=int64)

In [123]:
print((1486 + 178)/2000)

0.832